body {
    font-family: "Poppins", serif;
    max-width: 1024px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns:max-content ;
}

#user-menu {
    grid-template-areas: inherit;
    background-color: rgb(94, 95, 95);
    display: flex;
    justify-content: space-between;
    width: 98.9vw;
    padding: 10px;
}

#user-menu > h2 {
    color: white;
}

#user-menu > h2 > span{
    color: rgb(139, 206, 206);
}

#user-menu > a {
    color: rgb(236, 236, 252);
    text-decoration: none;
    font-size: 17px;
    margin-top: 20px;
    padding-right: 30px;
}

#container {
    background-color: rgb(114, 114, 114);
    display: flexbox;
    padding: 20px 50px 20px;
    flex-direction: column;
    position: relative;
    margin-left: 30rem;
    top:15vh;
    width: 90vh;
    border-radius: 20px;
    
}

#container > h2 {
    color: white;
    margin-top: 20px;
    font-size: 30px;
}

#container > input {
    margin-top: 30px;
    padding: 20px;
    width: 70%;
    border-radius: 20px;
    border: 1px solid rgba(240, 229, 229, 0.315);
    background-color: transparent;
    color: beige;
    -webkit-text-fill-color: rgba(248, 248, 248, 0.678);
}

#container > input:focus {
    outline: none;
}

#category {
    margin-top: -46px;;
    position: relative;
    left: 57vh;
}

#category > #catName{
    padding: 19px;
    border-radius: 20px;
    background-color: rgb(148, 151, 109);
    border: 1px solid rgba(255, 255, 255, 0.281);
    color: white;
    margin-top: -10px;
    border: none;
    cursor: pointer;
}

#addButton {
    position: relative;
    padding: 12px;
    top: -47px;
    left: 70vh;
    width: 100px;
    border-radius: 6px;
    color: white;
    border: none;
    background-color: rgb(21, 165, 98);
    cursor: pointer;
}

.sect-2 {
    margin-top: -30px;
}


.sect-2 > ul > li {
 list-style-type: none;
  color: aliceblue;
  margin-left: -30px;
  width: 100%;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  font-size: 17px;
  position: relative;
}

.sect-2 > ul > li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(circle.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

.sect-2 > ul > li.checked {
    color: darkgoldenrod;
    text-decoration: line-through;
}

.sect-2 > ul > li.checked::before {
    background-image: url(check.png);
} 

.sect-2 > ul > li > span {
    position: absolute;
    right: 0px;
    left: 85vh;
    top: 6px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    color: #ddcbcb;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
} 

.sect-2 > ul > li > span:hover {
    background-color: rgb(109, 105, 105);
}